/* Error: expected selector.
 *    ,
 * 67 |  grid-template-areas: "job__1 job__1 job__2 job__2 job__3 job__3" 
 *    |                                                                   ^
 *    '
 *   input.sass 67:67  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected selector.\a    \2577 \a 67 \2502   grid-template-areas: "job__1 job__1 job__2 job__2 job__3 job__3" \a    \2502                                                                    ^\a    \2575 \a   input.sass 67:67  root stylesheet';
}
